[include]
path = ~/.gitconfig.settings
[user]
	name = wdkkou
	email = koukouki7547@gmail.com
# ディレクトリによって設定を変える
[includeIf "gitdir:~/git/personal/"]
path = ~/.gitconfig_personal
[includeIf "gitdir:~/git/opt/"]
path = ~/.gitconfig_opt
